@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Montserrat:ital,wght@0,100;0,400;1,100&family=Ranga&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}
body {
    background-color: #534d4d;
    color: black;
    display: flex;;
    justify-content: center;
    align-items: center;
    overflow: hidden;    
    height: 100vh;
    font-family: montserrat;

}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url("../IMAGE/recipe.jpg");
    background-repeat: no-repeat;
    background-size: cover;;
    width: 80%;
    
}

.leftside {
    border: 1px solid black;
    border-radius: 50px 0px 0px 50px;
    overflow: hidden;
    box-shadow: 5px 5px 5px black;
    width: 50%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    ;
    
    position: ;
}
.desc {
    background-color: black;
    color: white;
    text-align: center;
}
.form {
    background-color: white;
    border: 1px solid black;
    border-radius:  0px 50px 50px 0px ;
    overflow: hidden;
    box-shadow: 5px 5px 5px black;;
    width: 70%;
    height: 300px;
    position: ;
}
.desc {
    position: absolute;
}


