@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Montserrat:ital,wght@0,100;0,400;1,100&family=Ranga&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: montserrat;
}
body {
    background-color: rgb(178, 178, 174);
}
.head {
    display: block;
    font-family: verdana;
    height: 100px;
    width: 100%;
    background-color: white;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    ;
    
}

ul {
    background-color: rgb(5, 5, 5);
    display: flex;

}

/* li {
    float: left;
    border-right: 1px solid white;

} */
li:last-child{
    border-right: none;
}
li a {
    display: block;
    flex
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 8px;

}
li a:hover {
    background-color: rgb(68, 67, 66);
}

ul.navbar li.option2 {
    float: right;;
    background-color: green;
}
img {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}
h2, h3, p {
    padding-top: 5px;
    padding-bottom: 5px;
    ;
}

.main-container {
    display: flex;
    flex-flow: row wrap;
    justify-content:center; ;
    height: ;
    background-color:  rgb(231, 231, 228);
}
.leftcontent {
    background-color: white;
    margin: 10px;
    padding: 10px;
    width: 65%;
    box-shadow: 1px 1px 5px black;
    height: 100%;

}
.rightupcontent {
    background-color: white;
    margin: 10px;
    padding: 10px;
    width: 30%;
    box-shadow: 1px 1px 5px black;
    height: 100%;

}
.rightdowncontent {
    background-color: white;
    margin: 10px;
    padding: 10px;
    width: 30%;
    box-shadow: 1px 1px 5px black;
    height: 100%;

}
.foot {
    background-color: white;
    margin: 10px;
    padding: 10px;
    width: 100%;
    box-shadow: 1px 1px 5px black;
    text-align: center;
    height: 100%;
    ;

}